practice.xsd

<?xml version = "1.0"?>

<!-- Fig. 15.10: book.xsd           -->
<!-- Simple W3C XML Schema document -->
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns = "http://www.w3.org/2001/XMLSchema">
   <element name="company">
      <complexType>
         <sequence>
            <element name="executives" maxOccurs="3" minOccurs="1">
               <complexType>
                  <sequence>
                     <element name="executive">
                        <complexType>
                           <sequence>
                              <element name="firstname" type="string"/>
                              <element name="lastname" type="string"/>
                              <element name="salary" type="int"/>
                           </sequence>
                        </complexType>
                     </element>
                  </sequence>
               </complexType>
            </element>
         </sequence>
      </complexType>
   </element>
</schema>